
.sippy_title{
    font-family: 'Akshar',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: #f7ea2f;
    line-height: 31.2px;
}
.bg_sippy_image{
    background-image: url('../../../assets/pageOne/junktwomain.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right;
    height: 700px;
}
.sippy_border{
    border-top: 2px solid #f7ea2f;
    border-bottom: 2px solid #f7ea2f;
}
.sippy_menu{
    
    font-family: 'Anek Bangla',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #EDF000;
    line-height: 54px;
}
.sippy_address{
    font-family: 'Anek Bangla',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #EDF000;
}
.sippy_timig{
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #f7ea2f;
    line-height: 1.7em;
}
.sippy_booking{
    font-family: 'Anek Bangla',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 20px; 
    color: #EDF000;
}
.sippy_licensed{
    color: #f7ea2f;
    font-weight: 500;
    font-size: 14px;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    font-style: italic;
}
.sippy_enquery{
    font-family: 'Anek Bangla',Helvetica,Arial,Lucida,sans-serif;
    color: #f7ea2f;
    font-weight: 700;
    font-size: 20px;  
}
.sippy_details{
    color: #f7ea2f;
    font-family: 'DM Sans',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 700;
    font-size: 14px; 
    line-height: 1.7em;
}
.enquiry_border{
    border-bottom: 2px solid #f7ea2f;
}
