/* .email_text {
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
} */

/* .signup_btn {
    font-family: 'DM Sans', sans-serif;
    background-color: #fdc500;
    font-size: 20px;
    padding: 7px 0 7px 0 !important;
    width: 220px !important;
    border-radius: 31px;
    font-weight: 700;
    letter-spacing: 1px;
}

.signup_btn:hover {
    background-color: #fcb900;
}

.signup_btn:hover {
    border: 0px !important;
} */

.text_size_title h2 {
    font-family: 'Anek Bangla', sans-serif;
    letter-spacing: .2px;
    line-height: 1.2em;
    font-weight: 600;
    font-size: 29px;
    color: #f7ea2f;
}

.text_size_para h3 {
    font-family: 'Anek Bangla', Helvetica, Arial, Lucida, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: .2px;
    color: #f7ea2f;
}

#bg_color1 {
    border-bottom: 2px solid #f7ea2f !important;
    background-color: #f04e30;
}



@media (min-width :0px) and (max-width: 767px) {
    #bg_color1 {
        border-bottom: 2px solid #f7ea2f !important;
        background-color: #f04e30;
    }

    .text_size_title h2 {
        font-family: 'Anek Bangla', Helvetica, Arial, Lucida, sans-serif;
        font-size: 24px;
        font-weight: 500;
    }

    .text_size_para h3 {
        font-family: 'Anek Bangla', Helvetica, Arial, Lucida, sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
/* 
    .signup_btn {
        font-size: 20px;
        font-weight: 700;
        padding: 7px 50px !important;
    } */
}

/* @media (min-width :0px) and (max-width: 360px) {

    .signup_btn {
        width: 185px !important;
    }
} */

/* @media (min-width :0px) and (max-width: 260px) {
    .email_text {
        font-size: 11px;
    }

    .signup_btn {
        font-size: 13px;
        padding: 12px 12px !important;
    }
} */

div#CONTACTA_610e3d00bc2c830e37f0a82b {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}
@media (min-width :992px) and (max-width:1200px) {
    div#CONTACTA_610e3d00bc2c830e37f0a82b {
        width: 86%;
    }
}
@media (min-width :0px) and (max-width:992px) {
    div#CONTACTA_610e3d00bc2c830e37f0a82b {
        width: 100%;
    }
}

.data-block .email-holder input {
    height: 45px;
    padding: 10px;
}
  .submitBtn {
    width: 250px;
}
.data-block .email-holder input:focus {
    outline: 0px;
}
.contacta-webform-table .error-msg {
    color: #FDC500;
    font-weight: bold;
    font-size: 13px;
}
.submission-message-info.valign {
    text-align: center;
    font-size: 25px !important;
    font-weight: bold;
    text-transform: uppercase;
    padding: 30px 0px;
    color: #EDF000;
    line-height: 35px;

}
.contacta-col .input-field label {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.0px;
}
.contacta-col .submitBtn button {
    width: 220px !important;
    padding: 7px 0 7px 0 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: bold !important;
    cursor: pointer;
    border-radius: 30px !important;
    margin-top: 24px;
}
.contacta-col .submitBtn button:hover {
    filter: brightness(100%);
}
@media only screen and (max-width:600px){
    .contacta-col .submitBtn button {    
        width: 200px !important;
    }
}
@media(min-width:601px){
    .contacta-webform-table {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contacta-webform-table .contacta-row:nth-child(2){
        flex-grow: 1;
    }
}